= form.custom_input field._alias.to_sym, :label => field.label, :hint => field.hint, :css => 'has-many', :required => required do

  .has-many-selector

    %p{ :style => form.object.send(field._alias.to_sym).empty? ? '' : 'display: none'  }
      = t('.empty')

    %ul
    
    - if picture_content = get_picture_content(field._alias)
      %p{ :style => "margin-left: 185px" }
        = "Uploader une liste d'image. Gardez le bouton Ctrl ou Cmd enfonsé pour faire des choix multiples :"
        = file_field_tag :images, :id => 'uploadify', :class => 'multiple_upload', :rel => admin_contents_url(:slug => field._alias, :auth_token => current_admin.authentication_token, :format => :json), :field_name => picture_content._name

    %script{ :type => 'text/x-mustache-template', :name => 'template', :'data-base-input-name' => "content[#{field._alias.to_sym}]", 'data-name' => "#{field._alias.to_sym}" }
      %li{ :class => "item {{behaviour_flag}}" }
        %span.handle
          = image_tag 'admin/form/icons/drag.png'

        {{^if_template}}
        %input{ :name => '{{base_name}}[]', :value => '{{{id}}}', :type => 'hidden', :'data-field' => 'id' }
        {{/if_template}}
        
        - if picture_content
          %span
            %img{:src => "{{thumb}}", :class => "thumb_image"}

        %strong
          = link_to "{{label}}", "http://127.0.0.1:3000/admin/content_types/{{inputName}}/contents/{{id}}/edit"

        {{#if_template}}
        = select_tag 'label', ''
        {{/if_template}}

        %span.actions
          - if field.reverse_lookup?
            = link_to image_tag('admin/form/pen.png'), '#', :class => 'edit first'
          = link_to image_tag('admin/form/icons/trash.png'), '#', :class => 'remove'
          %button{ :class => 'button light mini add', :type => 'button' }
            %span!= t('admin.buttons.new_item')

    %script{ :type => 'text/javascript', :name => 'data' }
      != has_many_data_to_js(field, form.object)
