- content_for :head do
  = include_javascripts :image_picker, :theme_assets

= f.inputs :name => :information do
  = f.input :title, :wrapper_html => { :class => 'highlighted' }
  = f.input :le_bouton
  = f.input :son