- content_for :head do
  = include_javascripts :image_picker, :edit_page

= f.inputs :name => :information do
  = f.input :name, :wrapper_html => { :class => 'highlighted' }
  = f.input :block, :as => :text, :input_html => { :class => 'html' }
  = f.input :picto
  = f.input :url