- each_content_type_menu_item do |content_type|
  .header
    -# %h2!= t('admin.contents.index.actions')
    %p= link_to t('admin.contents.index.new'), new_admin_content_url(content_type.slug)

    - if can? :manage, content_type
      %p.edit= link_to t('admin.contents.index.edit'), edit_admin_content_type_url(content_type)

  .inner
    -# %h2!= t('admin.contents.index.latest_items')
    %ul
      - content_type.menu_content.each do |content|
        %li
          = link_to truncate(content.send(content_type.highlighted_field_name).to_s), edit_admin_content_path(content_type.slug, content)
          %span= time_ago_in_words(content.updated_at)

- other_content_types do |content_types|
  .inner
    %ul.big-links
      - content_types.each do |content_type|
        %li
          = link_to truncate(content_type.name, :length => 20), admin_contents_url(content_type.slug)