= admin_content_menu_item 'contents', admin_pages_url do
  - if can? :manage, @page
    .header
      %p= link_to t('admin.pages.index.new'), new_admin_page_url
  .inner
    %ul
      - current_site.pages.latest_updated.minimal_attributes.each do |page|
        %li
          = link_to truncate(page.title, :length => 25), edit_admin_page_url(page)
          %span= time_ago_in_words(page.updated_at)

= admin_content_menu_item 'actus', admin_actus_url do
  .header
    %p= link_to t('admin.actus.index.new'), new_admin_actu_url
  .inner
    %ul
      - current_site.actus.for_menu(@current_site.season_back).each do |act|
        %li
          = link_to truncate(act.title, :length => 25), edit_admin_actu_path(act)
          %span= time_ago_in_words(act.updated_at)          
          
= admin_content_menu_item 'jules', admin_jules_url do
  .header
    %p= link_to t('admin.jules.index.new'), new_admin_jule_url
  .inner
    %ul
      - current_site.jules.for_menu(@current_site.season_back).each do |jul|
        %li
          = link_to truncate(jul.name, :length => 25), edit_admin_jule_path(jul)
          %span= time_ago_in_words(jul.updated_at)
          
= admin_content_menu_item 'boutons', admin_boutons_url do
  .header
    %p= link_to t('admin.boutons.index.new'), new_admin_bouton_url
  .inner
    %ul
      - current_site.boutons.for_menu(@current_site.season_back).each do |btn|
        %li
          = link_to truncate(btn.title, :length => 25), edit_admin_bouton_path(btn)
          %span= time_ago_in_words(btn.updated_at)