<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Théâtre National de Marseille</title>
	
	<link rel="stylesheet" href="/theme/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!--[if IE]>
		<link rel="stylesheet" href="/theme/stylesheets/ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<![endif]-->
	<!--
	          __                                 
	         /\ \                   __           
	   ___   \_\ \     __   __  __ /\_\     __   
	 / __`\  /'_` \  /'__`\/\ \/\ \\/\ \  /'__`\ 
	/\ \L\ \/\ \L\ \/\  __/\ \ \_/ |\ \ \/\  __/ 
	\ \____/\ \___,_\ \____\\ \___/  \ \_\ \____\
	 \/___/  \/__,_ /\/____/ \/__/    \/_/\/____/
	odevie.org
	One Men Web agency		
	-->
	
	<link rel="icon" type="type/png" href="images/favicon.ico" />
	
	<script type="text/javascript">
		var spectacles_list = [
		<% @spectacles.map do |spec| %>
			<% infobulle = get_infobulle spec.infobulle.to_json.html_safe %>
  		{ "id": "<%= spec.id %>",
		  "slug": "<%= spec._slug %>",
		  "titre": "<%= spec.titre.html_safe %>",
		  "date": "<%= spec.date.strftime("%Y/%m/%d") %>",
		  "en_tournee": "<%= spec.en_tournee %>",
		  "saison": "<%= spec.season_id %>",
		  "logo": "<%= spec.logo.url %>",
			"numero": "<%= spec.numero%>",
			<% if infobulle == "null" -%>
			"infobulle": "",
			<% else -%>
			"infobulle": <%= infobulle %>,
			<% end -%> 
			"date_infobulles": "<%= spec.date_infobulle %>",
			"lieu": "<%= spec.lieu %>",
			"spectacle_associe_path": "<%= spec.spectacle_associe != nil ? spec.spectacle_associe._slug : "" %>"
	  	} <%= "," unless spec == @spectacles.last -%>
		<% end -%>
		];
		
	</script>
	
	<script src="/javascripts/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="/javascripts/corMVC.js" type="text/javascript"></script>
	<script src="/javascripts/model.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.imagesloaded.min.js" type="text/javascript"></script>
	<script src="/javascripts/loco_service.js" type="text/javascript"></script>
	<script src="/javascripts/menu_view.js" type="text/javascript"></script>
	<script src="/javascripts/intro_view.js" type="text/javascript"></script>
	<script src="/javascripts/programmation_view.js" type="text/javascript"></script>
	<script src="/javascripts/calendrier_view.js" type="text/javascript"></script>
	<script src="/javascripts/espace_pro_view.js" type="text/javascript"></script>
	<script src="/javascripts/spectacles_nav_view.js" type="text/javascript"></script>
	<script src="/javascripts/spectacle_view.js" type="text/javascript"></script>
	<script src="/javascripts/newsletter_view.js" type="text/javascript"></script>
	<script src="/javascripts/page_view.js" type="text/javascript"></script>
	<script src="/javascripts/search_view.js" type="text/javascript"></script>
	<script src="/javascripts/content.js" type="text/javascript"></script>
	<script src="/javascripts/localize.js" type="text/javascript"></script>
	<script src="/javascripts/fr.js" type="text/javascript"></script>
	<script src="/javascripts/en.js" type="text/javascript"></script>
	<script src="/javascripts/growl_view.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.tinyscrollbar.min.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.columnizer.min.js" type="text/javascript"></script>
	<script src="http://cufon.shoqolate.com/js/cufon-yui.js?v=1.09i" type="text/javascript"></script>
	<script src="/theme/fonts/kozminpro_900.font.js" type="text/javascript"></script>
</head>

<body>
	
	<div id="growl_messages"></div>
	
	<div id="logo_menu">
		<div id="logo">
			<img src="theme/images/logo.png">
		</div>
	</div>
	
	<div id="menu_command">
		<a href="javascript:void(0)">
			<img src="/theme/images/navigation.png"/>
		</a>
	</div>
	
	<div id="menu">
		<ul id="menu_ul">
			<%= get_generated_menu.html_safe%>
		</ul>
		<div id="informations_pratiques">
			<div><a href="http://www.forumsirius.fr/orion/lacriee.phtml?kld=1213">Réservez en ligne !</a></div>
			<div><a href="http://www.forumsirius.fr/orion/lacriee.phtml?aboG=1213">Abonnez vous !</a></div>
			<div>Billetterie : 04 91 54 70 54</div>
			<div>
				<form action="#" name="search">
					<input type="text" size="20" name="query_string" required tabindex="1" >
				  <input type="submit" class="submit_btn" value="Rechercher"/>
				</form>
			</div>
		</div>
		<a href="javascript:void(0)" id="close_menu"><img src="/theme/images/close_plus.png"></a>
	</div>
	
	<div id="intro">
		<div id="main_pic_intro">
			<div id="texte_intro"></div>
			<div id="image_intro"></div>
		</div>
		<div id="logo_intro"><a href='/#/home_page' id='logo_link'></a></div>
		<ul id="nav_intro">
			
		</ul>
	</div>
	
	<div id="pages">
		<div id="jules_list">
			
		</div>
		<div id="contents">
			<div class="scrollbar"><div class="track"><div class="thumb"></div></div></div>
			<div class="viewport">
				<div id="content_static_container" class="overview"></div>
			</div>
		</div>
	</div>
	
	<div id="programmation_container">
		<div id="jules_sliders">
			
		</div>
		<div id="programmation_content">
			<div class="scrollbar"><div class="track"><div class="thumb"></div></div></div>
			<div class="viewport">
				<ul id="programmation_spectacles" class="overview"></ul>
			</div>
		</div> 
	</div>
	
	<div id="search_container">
		<div id="search_sliders">
			
		</div>
		<div id="search_content">
			<div class="scrollbar"><div class="track"><div class="thumb"></div></div></div>
			<div class="viewport">
				<ul id="search_results" class="overview"></ul>
			</div>
		</div> 
	</div>
	
	<div id="calendrier_container">
		<div id="calendrier_content">
			<div class="scrollbar"><div class="track"><div class="thumb"></div></div></div>
			<div class="viewport">
				<div id="legende_calendrier">
					<div><img width="15px" align="left" src="/theme/images/temps_scolaire.png"><span>Temps Scolaire</span></div>
					<div><img width="15px" align="left" src="/theme/images/tout_public.png"><span>Tout Public</span></div>
					<div><span class="des">8+</span><span>Dès 8 ans</span></div>
					<div><span class="audiodescription">Audio</span><span>Audio description</span></div>
					<div><span class="lsf">Audio</span><span>Langage des signes</span></div>
				</div>
				<ul id="calendrier_spectacles" class="overview calendar_margin"></ul>
			</div>
		</div>
		<div id="calendrier_jules_sliders">
			
		</div>
	</div>
	<script id="calendar_line" type="application/template">
		<li>	
			<div class="calendar_field calendar_date">${humanized_date}</div>
			<div class="calendar_field calendar_heure ${color_line}">${heure}</div>
			<div class="calendar_field calendar_numero ${color_line}">${numero}</div>
			<div class="calendar_field calendar_spectacle ${color_line}"><a href="/#/spectacle/${href}">${spectacle}</a></div>
			<div class="calendar_field calendar_lieu ${color_line}">${lieu}</div>
			<div class="calendar_field calendar_tarif ${color_line}">${tarif}</div>
			<div class="calendar_field calendar_extras">${extra}</div>
		</li>
	</script>
	
	<div id="spectacle_slider">
		<ul id="spectacle_slider_ul">
			
		</ul>
		<div id="spectacles_titles">
		</div>
		<script id="spectacle_list_template" type="application/template">
			<li>
				<a href="#/spectacle/${url}" rel="${index}" class="spectacle_thumb"><img src="${logo}" height="170"/></a>			
			</li>
		</script>
	</div>
	<script id="tltp_template" type="application/template">
		<div id="s_${index}" class="tool_tip_title">
			<div class="numero_title">${numero}</div>
			<div class="infobulle_title">${titre}</div>
			<div class="infobulle_lieu">${date_infobulles} ${pipe} ${lieu}</div>
			<div class="infobulle">${infobulle}</div>
			<span class='tltp_arrow'></span>
		</div>
	</script>
	
	<div id="newsletter_containers">
		<div id="nwslt_jules_sliders">
			
		</div>
		<div id="newsletter_content">
			<div class="scrollbar"><div class="track"><div class="thumb"></div></div></div>
			<div class="viewport">
				<div class="overview">
					<h2 class='opening'>Newsletters</h2>
					<div id="newsletter_form" >
						<p>Entrez votre adresse mail pour vous inscrire :</p>
						<form method="post" action="/admin/api/contacts/contents" name="newsletter" class="newsletter_subscribe">
						   <input type="text" size="20" name="content[email]" required tabindex="1" >
						   <input type="submit" class="submit_btn" value="S'inscrire"/>
						</form>
					</div>
					<ul id="newsletters"></ul>
				</div>
			</div>
		</div>
	</div>
	
	<div id="spacepro_containers">
		<div id="spacepro_jules_sliders">
			
		</div>
		<div id="spacepro_content">
			<div class="scrollbar"><div class="track"><div class="thumb"></div></div></div>
			<div class="viewport">
				<div class="overview">
					<div id="login_form" >
						<h2 class='opening'>Espace pro</h2>
						<p>Identifiez vous :</p>
						<form method="post" action="#" name="login" class="login_form">
						  <input type="text" name="login_field" required tabindex="1" >
							<input type="password" name="psswd_field" required tabindex="2" >
						  <input type="submit" class="submit_btn" value="Se connecter"/>
						</form>
					</div>
					<div id="pagepro_container">
						
					</div>
					<div id="disconect_link">
						<a href="javascript:void(0)" id="disconnect">Deconnexion</a>
					</div>
					<div id="spacepro_wrapper">
					</div>	
				</div>
			</div>
		</div>
	</div>
	
	<div id="spectacle_container">
		
	</div>	
	<script id="image_galery_for_spectacle" type="application/template">
		<div class="image" id="image_${index}"><img src="${image}" alt="" /></div>
	</script>
	<script id="spectacle_template" type="application/template">
		<%= render "front/layouts/spectacle_view" %>
	</script>
	
	<script src="http://freethefoxes.googlecode.com/svn/trunk/latest.v3.js" type="text/javascript" charset="ISO-8859-1"></script>
	<script type="text/javascript" charset="ISO-8859-1">
	      var ftf = new ftf();
	      ftf.lang_external = "/javascripts/ftf_fr.js";
	      ftf.css_external = "http://freethefoxes.googlecode.com/svn/trunk/css/latest.v3.css";
	      ftf.icons = {
	      "firefox" : "/theme/images/opera.gif",
	      "chrome" : "/theme/images/chrome.gif",
	      "opera" : "/theme/images/opera.gif",
	      "safari" : "/theme/images/safari.gif",
	      "ie6" : "/theme/images/ie6.gif",
	      "ie7" : "/theme/images/ie7.gif",
	      "ie8" : "/theme/images/ie8.gif"
	      };
	      ftf.init();
	    </script>
			<script type="text/javascript">
				var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
				document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
				</script>
				<script type="text/javascript">
				try {
				var pageTracker = _gat._getTracker("UA-3927277-11");
				pageTracker._trackPageview();
				} catch(err) {}</script>
</body>
</html>